<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.css" integrity="sha512-YnP4Ql71idaMB+/ZG38+1adSSQotdqvixQ+dQg8x/IFA4heIj6i0BC31W5T5QUdK1Uuwa01YdqdcT42q+RldAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js" integrity="sha512-Z0dNfC81uEXC2iTTXtE0rM18I3ATkwn1m8Lxe0onw/uPEEkCmVZd+H8GTeYGkAZv50yvoSR5N3hoy/Do2hNSkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-sortable@0.1.3/vue-sortable.min.js"></script>
    <title>RokuRunner - Edit Runner</title>
    <style>
        body {
            overscroll-behavior-y: contain;
        }

        .action-col {
            width: 150px !important;
        }
        .action-ico
        {
            display: inline; color: #696969; 
            font-size: 22px; 
            margin: 0px 5px;
        }
        .logo
        {
            font-family: 'Press Start 2P', cursive; 
            font-size: 2em; 
            text-decoration: none;
            color: #fff;
            margin: 0px 10px;
        }
        .logo:hover
        {
            color: #fff;
        }
        .draghandle
        {
            display: inline; color: #696969; 
            font-size: 22px; 
        }
        .dragheader
        {
            visibility: hidden;
        }
        .rmove-opts
        {
            font-size: 0.7em;
        }
    </style>
</head>

<body>

    <div id="app">
        <b-navbar type="dark" variant="dark">
            <a class="logo" href="#" @click="gohome">RokuRunner</a>         
        </b-navbar>

        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h2>{{ cmds_name }}</h2>
                    <b-table hover responsive borderless primary-key="id" :striped="true" :table-variant="primary" :items="commands" :fields="fields" v-sortable="sortableOptions" >
                        <template v-slot:cell(drag)="row">
                                <div class="text-center">
                                    <a href="javascript:void(0)" class="draghandle"><i class="las la-grip-lines"></i></a>
                                </div>
                        </template>
                        <template v-slot:cell(cmd_type)="row">
                            <b-form-select :options="command_types" v-model="row.item.cmd_type"/>
                        </template>
                        <template v-slot:cell(arg)="row" >
                            <div v-if="row.item.cmd_type === 'Delay'" class="d-flex justify-content-center" >
                                <b-form-input v-model='row.item.delay_val' type="number" v-on:change="edited = true;" style="width: 120px;"></b-form-input>
                            </div>
                            <div v-else-if="row.item.cmd_type === 'ButtonPress'">
                                <b-form-select :options="btnpress_types" v-model='row.item.btnpress_val' v-on:change="edited = true;"/>
                            </div>
                            <div v-else-if="row.item.cmd_type === 'HttpRequest'">
                                <b-form-input v-model="row.item.httpreq_val" v-on:change="edited = true;" style="height: 27px; margin-left: auto; margin-right: auto;"/>
                            </div>
                            <div v-else-if="row.item.cmd_type === 'CharLiteral'">
                                <b-form-input v-model="row.item.charlit_val" v-on:change="edited = true;" style="height: 27px; margin-left: auto; margin-right: auto;"/>
                            </div>
                        </template>
                        <template v-slot:cell(opts)="row" >
                            <div v-if="row.item.cmd_type === 'Delay'" class="d-flex justify-content-center" >
                                <b-form-select :options="delay_unit_opts" v-model='row.item.delay_unit' v-on:change="edited = true;" class="ml-2"/>
                            </div>
                            <div v-else-if="row.item.cmd_type === 'RandomMove'" class="d-flex justify-content-center">
                                <div class="row rmove-opts">
                                    <div class="col">
                                        Button
                                        <b-form-select multiple :options="randmove_btn_opts" v-model="row.item.randmove_btns" v-on:change="edited = true;"></b-form-select>
                                    </div>
                                    <div class="col">
                                        <div>
                                            Loops
                                            <b-form-input v-model="row.item.randmove_loops" type="number" v-on:change="edited = true;" style="width: 80px;"></b-form-input>
                                        </div>
                                        <div>
                                            Delay (ms)
                                            <b-form-input v-model="row.item.randmove_delay" type="number" v-on:change="edited = true;" style="width: 80px;"></b-form-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template #cell(action)="data" >
                            <div class="text-center">
                                <a href="javascript:void(0)" class="action-ico" @click="crud(CRUD_E.CLONE, data.index)"><i class="las la-copy"></i></a>
                                <a href="javascript:void(0)" class="action-ico" @click="crud(CRUD_E.INSERT, data.index)"><i class="las la-plus-circle"></i></a>
                                <a href="javascript:void(0)" class="action-ico" @click="crud(CRUD_E.DELETE, data.index)"><i class="las la-trash-alt"></i></a>
                            </div>

                        </template>
                    </b-table>

                    <div class="row">
                        <div class="col-sm-6 my-5">
                            <div v-if="this.commands.length === 0" style="display: inline-block; margin: 0px 10px 0px 10px;">
                                <b-button variant="outline-primary" @click="crud(CRUD_E.APPEND, null)" style="display: inline-block;">Add Command</b-button>
                            </div>
                            <div v-if="edited" style="display: inline-block;">
                                <b-button variant="danger" @click="save" style="display: inline-block;">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>



    </div>

    <script>

        const createSortable = (el, options, vnode) => {
            return Sortable.create(el, {
                ...options
                
            });
        };

        const sortable = {
            name: 'sortable',
            bind(el, binding, vnode) {
                const table = el;
                table._sortable = createSortable(table.querySelector("tbody"), binding.value, vnode);
            }
        };

        const CRUD_E = {INSERT:1, APPEND:2, DELETE:3, CLONE:4 };
        
        // todo: there are a couple warnings re:  "on during [Vue warn]: Property or method "primary" is not defined on the instance but referenced during render" prob related to using row.item for the v-model. Still works, just annoying
        var vm = new Vue({

            el: '#app',
            components: {
                'Sortable': httpVueLoader('vue-sortable')
            },
            directives: { sortable },
            data: {
                fields: [{ key: "drag", thClass: 'invisible' }, 
                    { key: "cmd_type", label: "CommandType", tdClass: 'text-center align-middle', thClass: 'text-center' },     
                    { key: "arg", label: "Argument", tdClass: 'text-center align-middle', thClass: 'text-center' },
                    { key: "opts", label: "Options", tdClass: 'text-center align-middle', thClass: 'text-center' },
                    
                    { key: "btnpress_val", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "delay_val", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "httpreq_val", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "charlit_val", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "delay_unit", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "randmove_loops", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "randmove_delay", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "randmove_btns", thClass: 'd-none', tdClass: 'd-none' },
                    { key: "action", thClass: 'd-none action-col', tdClass: 'align-middle action-col' },
                    
                    ],
                cmd_idx: 0,  // unique key (as a counter) needed for sortablejs drag sorting, otherwise reactiveness scrambles everything, see https://stackoverflow.com/a/48484974                  
                commands: [],
                command_types: ["ButtonPress", "Delay", "HttpRequest", "CharLiteral", "RandomMove"],
                btnpress_types: ["Home", "Reverse", "Forward", "Play", "Select", "Left", "Right", "Down", "Up", "Back", "InstantReplay", "Info", "Backspace", "Search", "Enter", "VolumeDown", "VolumeMute", "VolumeUp", "PowerOff", "InputTuner", "InputHDMI1", "InputHDMI2", "InputHDMI3", "InputHDMI4", "InputAV1"],
                commands_id: '',
                sortableOptions: {},
                edited: false,
                delay_unit_opts: ["ms", "s", "h"],
                randmove_btn_opts: ['Left', 'Up', 'Right', 'Down'],
                CRUD_E    // const enum defined above
            },
            delimiters: ['[[', ']]'],
            methods: {
                
                // insert, delete, append, etc.
                crud(op, index)
                {
                    this.cmd_idx++;

                    if (op == CRUD_E.INSERT)
                    {
                        if (index == this.commands.length - 1)  // if last row
                            this.commands.push(this.getDefaultCmd());
                        else
                        {
                            this.commands.splice(index, 0, this.getDefaultCmd());
                            this.edited = true;
                        }

                    } else if (op == CRUD_E.APPEND)
                    {
                        this.commands.push(this.getDefaultCmd());

                    } else if (op == CRUD_E.DELETE)
                    {
                        this.commands.splice(index, 1);

                    } else if (op == CRUD_E.CLONE)
                    {
                        var copied = JSON.parse(JSON.stringify(this.commands[index]))
                        copied.id = ++this.cmd_idx;
                        this.commands.splice(index, 0, copied);

                    }
                    this.edited = true;
                },
                // needed for sortable/drag
                reorder ({oldIndex, newIndex}) {
                    const movedItem = this.commands.splice(oldIndex, 1)[0];
                    this.commands.splice(newIndex, 0, movedItem);
                    this.edited = true;
                },
                // returns a new default command
                getDefaultCmd()
                {
                    return { cmd_type: 'ButtonPress', btnpress_val: 'Left', delay_val: '300', delay_unit: 'ms', randmove_loops: 1, randmove_delay: "100", randmove_btns: this.randmove_btn_opts, id: ++this.cmd_idx};
                },
                // since fields are needed for b-table, have to import all data to local objects. There's gotta be a better way to do this
                importCmds(jsondat)
                {
                    ret = []
                    var idx = 0;
                    for (var i in jsondat)
                    {
                        var cmd = this.getDefaultCmd();
                        var opts = jsondat[i].opts;
                        var val = jsondat[i].val;
                        cmd.cmd_type = jsondat[i].cmd_type;
                        
                        if (cmd.cmd_type == 'ButtonPress')
                        {
                            cmd.btnpress_val = val;
                        } else if (cmd.cmd_type == 'Delay')
                        {
                            cmd.delay_val = val; 
                            cmd.delay_unit = opts.delay_unit;
                        } else if (cmd.cmd_type == 'HttpRequest')
                        {
                            cmd.httpreq_val = val;
                        } else if (cmd.cmd_type == 'CharLiteral')
                        {
                            cmd.charlit_val = val;
                        } else if (cmd.cmd_type == 'RandomMove')
                        {
                            cmd.randmove_loops = opts.randmove_loops;
                            cmd.randmove_delay = opts.randmove_delay;
                            cmd.randmove_btns = opts.randmove_btns;
                        }
                        ret.push(cmd);
                    }
                        
                    return ret;
                },
                // like importCmds, needed because b-table needs individual fields, so we map them out. Gotta be a better way
                exportCmds(cmds)
                {
                    ret = [];
                    for (var i=0; i<cmds.length; i++)
                    {
                        var rval = '';
                        var opts = {};
                        if (cmds[i].cmd_type == 'ButtonPress')
                        {
                            rval = cmds[i].btnpress_val;
                        } else if (cmds[i].cmd_type == 'Delay')
                        {
                            rval = cmds[i].delay_val;
                            opts['delay_unit'] = cmds[i].delay_unit;
                        } else if (cmds[i].cmd_type == 'HttpRequest')
                        {
                            rval = cmds[i].httpreq_val;
                        } else if (cmds[i].cmd_type == 'CharLiteral')
                        {
                            rval = cmds[i].charlit_val;
                        } else if (cmds[i].cmd_type == 'RandomMove')
                        {
                            opts['randmove_loops'] = cmds[i].randmove_loops;
                            opts['randmove_delay'] = cmds[i].randmove_delay;
                            opts['randmove_btns'] = cmds[i].randmove_btns;
                        }

                        ret.push({ cmd_type: cmds[i].cmd_type, val: rval, opts: opts });
                    }
                    return ret;
                },
                // posts a save command
                save()
                {
                    var cmds = this.exportCmds(this.commands);
                    var ret = [{ cmds_id: this.commands_id}, cmds];
                    const url = `${window.location.origin}/runner_edit`;
                    const options = 
                    {
                        method: 'POST',
                        headers: {'Accept': 'application/json', 'Content-Type': 'application/json;charset=UTF-8'},
                        body: JSON.stringify(ret)
                    };

                    fetch(url, options).then(response => response.json()).then(data=>
                    { 
                        if (data["status"] == "OK")
                            this.edited = false;
                    });
                },
                gohome()
                {
                    window.location.href = `${window.location.origin}/`;
                }
            },
            template: '',
            created: function ()
            {
                // server passes in: commands (runner = array of dicts), commands_id (primary key of runner)
                this.commands = this.importCmds(JSON.parse({{ cmds_dat | tojson }}));
                this.commands_id = parseInt({{ cmds_id }});
                this.sortableOptions = { onEnd: this.reorder, handle: '.draghandle' };
            }
        });
    </script>
</body>

</html>